body {
      font-family: Arial, sans-serif;
      background: #e7e7ae;
      margin: 0;
      padding: 20px;
    }
    h1 { text-align: center; }
    .filmes {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
    }
    .filme {
      background: white;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: center;
    }
    .filme img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 6px;
    }
    .botoes {
      margin-top: 10px;
    }
    button {
      padding: 5px 10px;
      margin: 5px;
      cursor: pointer;
    }
    form {
      background: white;
      padding: 15px;
      border-radius: 8px;
      margin-top: 30px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
    .totais {
      text-align: center;
      margin: 15px 0;
      font-weight: bold;
    }